
h1 {
	padding: 0px;
	margin: 0px;
}

body {
	margin: 10px;
	height: 95%;
	width: 98%;
}

header {
	height: 5%;
}

nav {
	height: 4%;
}

section {
	height: 62%;
}

footer {
	height: 5%;
}

header.main{
	background-image: linear-gradient(-90deg, #8080ff, #000080);
	color: white;
	font-size: 24px;
	border: 2px outset white;
	padding: 10px;
}

header.background{
	background-image: linear-gradient(-90deg, #bfbfbf, #808080);
	color: #bfbfbf;
	font-size: 24px;
	border: 2px outset white;
	padding: 10px;
}



nav {
	padding: 10px;
	border: 2px outset white;
	background: #bfbfbf;
	padding: 10px;
}

div.section {
	border: 2px outset white;
	background: #bfbfbf;
	height: auto;
}

section {
	font-size: 14px;
	background: #bfbfbf;
	padding: 10px;
	text-align: center;
}

img.ico {
	vertical-align:middle;
}

section header.tab {
	border: 0 outset white;
	padding: 5 20 10 20;
	display: inline-block;
}

section article {
	margin-top: 0;
	overflow: auto;
	background: #bfbfbf;
	border: 0 inset white;
	height: 85%
}

footer {
	position: relative;
	border: 2px outset white;
	background: #bfbfbf;
	padding: 10px;
	height: 80px;
}

nav a {
	background: #bfbfbf;
	text-decoration: none;
	font-size: 18px;
	color: black;
	border: 2px solid #bfbfbf;
	padding: 3 10 3 10;
}

nav a.bar {
	border: 2px outset white;
	cursor: default;
    background: #f5f5f5;
	padding: 6 0 6 0;
	
}

footer a:hover,
nav a:hover:not(.current) {
	border: 2px outset white;
	cursor: default;
    background: #cccccc;
}

nav a:active {
    border-style: inset;
	color: grey;
	font-size: 18px;
}

section#about_me,
section#projects,
section#contact_me {
	display: none;
}

footer a.enable {
	float: right;
	background: #cccccc;
	text-decoration: none;
	font-size: 18px;
	color: black;
	border: 4px solid black;
	padding: 25 60 25 60;
}

footer a.enable:active {
	border: 4px inset white;
	font-size: 18px;
}

label#dummy_agreement {
	position: absolute;
	bottom: 10;
}

.current {
	cursor: default;
    border-style: inset;
	font-size: 18px;
}

a.dummy_help,
a.dummy_close {
	background: #bfbfbf;
	text-decoration: none;
	font-size: 18px;
	color: black;
	border: 2px outset #bfbfbf;
	padding: 3 10 3 10;
	float: right;
}

a.dummy_help {
	margin-right: 5px;
}

a.dummy_help:hover {
	cursor: help;
}
a.dummy_close:hover {
	cursor: default;
}

a.dummy_help:active,
a.dummy_close:active {
    border-style: inset;
	color: grey;
	font-size: 18px;
}

div.dummy_popup {
	display: none;
	position: absolute;
	top: 8%;
	left: 2%;
	width: 50%;
	height: 50%;
	background: red;
	background: #bfbfbf;
	border: 2px outset white;
}

div.dummy_popup header {
	height: 9%;
}

label.note {
	font-size: 12px;
	font-style: italic;
}

div#dummy_icon1 {
	display: none;
	position: relative;
	top: 30%;
}

div#dummy_icon1 a {
	text-decoration: none;
	color: white;
}