
@font-face {
    font-family: customFont1;
    src: url(../fonts/Prociono-Regular-webfont.woff);
}


body {
	
	background: #ccffcc;
	background: linear-gradient(#ccffcc, #ffbf80); 
	background-position: top-left;
	background-repeat: repeat;
	scroll-behavior: smooth;
	font-family: calibri;
	padding: 0;
	margin: 0;
	    
}

H1, 
H2 {
	text-align: center;
}

header h1 {
	padding: 0px 0px 0px 0px;
	text-align: left;
	font-size: 22px;
	float: left;
}

header {
	background-color: #663300;
	margin: 0px;
	padding: 5px 0px 0px 0px;
	height: 5vh;
}

a {
	text-decoration: none;
}

footer,
header,
nav.float_nav a {
	background-color: #663300;
}

section {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100vh;
}

section#home,
section#contact_me {
	height: 95vh;
}


.centerthings {
	margin-top: 50vh;
}

article {
	text-align: center;
}

footer {
	height: 5vh;
	width: 100%;
	color: #ffffff;
	text-align: center;
}

ul {
	margin: 0;
	padding: 0;
}

nav li {
	display: inline;
}

nav.main a {
	font-family: calibri;
	padding: 0 10px 0 10px;
	text-decoration: none;
	color: #ffffff;
}

a#home_link {
	font-family: customFont1;
	color: white;
	padding: 8px;
}

nav.float_nav a {
	display: block;
	position: fixed;
	bottom: 10;
	right: 10;
	padding: 25px;
	text-decoration: none;
	color: #ffffff;
}

table#table_projects,
td {
	border-style: solid;
	border-width: 1px;
}

table tr.table_header {
	text-align: center;
	font-weight: bold;
	background-color: #cc6600;
}

tr:hover {
	background-color: #ffcc99;
}

div.popup {
	display: none;
	top: 10vh;
	margin-left: 10%;
	position: fixed;
	float: left;
	box-shadow: 0 0 5px grey;
	width: 300px;
	height: 300px;
	background-color: #ffffff;
}

article#a2 h3
{
	margin: 20px 0px 0px 0px;
}

.tag_basic {
	background-color: blue;
	color: white;
	font-size: 12px;
	margin: 1;
	padding: 0px 2px 0px 2px;
}

.tag_intermediate {
	background-color: green;
	color: white;
	font-size: 12px;
	margin: 1;
	padding: 0px 2px 0px 2px;
}

.tag_advance {
	background-color: orange;
	color: white;
	font-size: 12px;
	margin: 1;
	padding: 0px 2px 0px 2px;
}

.tag_pro {
	background-color: red;
	color: white;
	font-size: 12px;
	margin: 1;
	padding: 0px 2px 0px 2px;
}

img.ico {
	vertical-align:middle;
}

p a.link {
	font-weight: bold;
	text-decoration: none;
}

label.simple_center {
	margin-top: 100%;
	font-size: 42px;
	font-weight: bold;
}

div.notes {
	font-size: 12px;
}
