@font-face {
    font-family: customFont1;
    src: url(fonts/Prociono-Regular-webfont.woff);
}

body {
	padding: 0;
	margin: 0;
	background-color: #ccffcc;
	background: linear-gradient(#ccffcc, #ffbf80); 
	font-family: calibri;
}

header,
footer {
	background-color: #663300;
	width: 100%;
	height: 5vh;
}

h1 {
	padding: 0;
	margin: 0 0 20 0;
	text-align: center;
}

ul {
	padding: 5 0 0 5;
	margin: 0;
	height: 100%;
}

li {
	display: inline;
	list-style: none;
	
}

nav a {
	color: white;
	padding: 6 10 6 10;
	text-decoration: none;
}

a#home_link {
	font-family: customFont1;
	color: white;
}

li a:hover {
}

section {
	text-align: center;
}

section#home {
	height: 95vh;
}

section#about_me,
section#projects {
	height: 100vh;
}

section#contact_me {
	height: 95vh;
}

footer {
	color: white;
	bottom: 0;
}

div#top a{
	padding: 20px;
	display: block;
	position: fixed;
	background-color: #663300;
	bottom: 10;
	right: 10;
	text-align: center;
	color: white;
	text-decoration: none;
}

table,
td{
	border-color: #cc6600;
	border-collapse: collapse;
	border-style: solid;
	border-width: 2px;
}

th {
	background-color: #cc6600;
}

tr:hover {
	background-color: #ffcc99;
}

.tag_basic {
	background-color: blue;
	color: white;
	font-size: 12px;
	margin: 1;
	padding: 0px 2px 0px 2px;
}

.tag_intermediate {
	background-color: green;
	color: white;
	font-size: 12px;
	margin: 1;
	padding: 0px 2px 0px 2px;
}

.tag_advance {
	background-color: orange;
	color: white;
	font-size: 12px;
	margin: 1;
	padding: 0px 2px 0px 2px;
}

.tag_pro {
	background-color: red;
	color: white;
	font-size: 12px;
	margin: 1;
	padding: 0px 2px 0px 2px;
}

img.ico {
	vertical-align:middle;
}

span.email {
	font-size: 30px;
}

span.centering {
	margin-bottom: 50%;
}

@media only screen and (max-width: 500px) {

body {
	font-size: 14px;
	background-color: #ccffcc;
	background: linear-gradient(#ccffcc, #ffbf80); 
}

li a {
	font-size: 12px;
}

h1 {
	font-size: 18px;
}

h2 {
	font-size: 16px;

}

div#top a{
	font-size: 12px;
	padding: 10px;
	display: block;
	position: fixed;
	background-color: #663300;
	bottom: 10;
	right: 10;
	text-align: center;
}

header,
section {
	text-align: center;
}

section#contact_me,
section#home {
	height: 95vh;
}

section#about_me,
section#projects {
	height: 100vh;
}

.hideMeM,
table {
	display: none;
}

img.ico {
	height: 20px;
}


.tag_basic,
.tag_intermediate,
.tag_advance,
.tag_pro {
	font-size: 8px;
}

}